@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var token = @HttpContextAccessor.HttpContext.Session.GetString("Token");
    
    if (token == null)
    {
        token = "Logout";
    }
    //

}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        let Token = "";
        Token = Token + "@token";
        //console.log(Token);
        //console.log(window.location.pathname);
        if (window.location.pathname != "/Auth/register" && window.location.pathname != "/Auth") {
            if (Token == "Logout") {
                SessionEnd();
            }
        }
        function SessionEnd() {
            window.location = "/Auth/Logout";
        }
        sessionStorage.setItem("LoginName","@HttpContextAccessor.HttpContext.Session.GetString("Name")" );
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" href="~/lib/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/buttons.dataTables.min.css">

</head>
<body>

    <div class="wrapper">

        <partial name="~/Views/Shared/Component/_TopNavbar.cshtml" />
        <div class="main_container">
            @*<partial name="~/Views/Shared/Component/_SideBar.cshtml" />*@
            @Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("SideBar"))
            <div class="main_content">
                <div class="content">
                    @RenderBody()
                </div>
            </div>

            <partial name="~/Views/Shared/Component/_Modal.cshtml" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap5-popper/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="~/lib/bootstrap5/js/bootstrap.min.js"></script>
            <script src="~/lib/bootstrap-datepicker.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="~/lib/sweetalert2.min.js"></script>

            @*//datatable*@
            <script type="text/javascript" charset="utf8" src="~/lib/jquery.dataTables.js"></script>
            <script type="text/javascript" charset="utf8" src="~/lib/dataTables.buttons.min.js"></script>
            <script type="text/javascript" charset="utf8" src="~/lib/jszip.min.js"></script>
            <script type="text/javascript" charset="utf8" src="~/lib/pdfmake.min.js"></script>
            <script type="text/javascript" charset="utf8" src="~/lib/vfs_fonts.js"></script>
            <script type="text/javascript" charset="utf8" src="~/lib/buttons.html5.min.js"></script>
            <script src="https://momentjs.com/downloads/moment.min.js"></script>
            <script src="~/js/site.js"></script>

            @RenderSection("Scripts", required: false)

        </div>
    </div>

    <div id="loader" class="lds-dual-ring hidden overlay"></div>
</body>
</html>

