@{
    Layout = null;
}
<div class="addselection">
    <div class="row">
        <div class="col">
            <form id="UserCRUD" method="POST" action="javascript:void(0);">
                @if (@ViewBag.Data != null)
                {
                    <div class="text-danger"></div>
                    <input type="hidden" name="ID" value="@ViewBag.Data.ID" />


                    <div class="form-group">
                        <label class="control-label">Nama User :</label>
                        <input class="form-control" name="NAMA_USER" value="@ViewBag.Data.NAMA_USER" />

                    </div>


                    <div class="form-group">
                        <label class="control-label">USERNAME :</label>
                        <input class="form-control" name="USERNAME" value="@ViewBag.Data.USERNAME" />

                    </div>


                    <div class="form-group">
                        <label class="control-label">EMAIL :</label>
                        <input class="form-control" name="EMAIL" value="@ViewBag.Data.EMAIL" />

                    </div>
                }
                else
                {
                    <div class="text-danger"></div>
                    <input type="hidden" name="ID" value="" />


                    <div class="form-group">
                        <label class="control-label">Nama User :</label>
                        <input class="form-control" name="NAMA_USER" value="" />

                    </div>


                    <div class="form-group">
                        <label class="control-label">USERNAME :</label>
                        <input class="form-control" name="USERNAME" value="" />

                    </div>


                    <div class="form-group">
                        <label class="control-label">EMAIL :</label>
                        <input class="form-control" name="EMAIL" value="" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">PASSWORD :</label>
                        <input class="form-control" name="PASSWORD" value="" />

                    </div>

                }

                <div class="form-group my-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module">
    import KanbanAPI from "../../js/Kanban/api/KanbanApi.js";
    $("#UserCRUD").on("submit", async function (event) {
        var data = {};
        //data["Id"] = 0;
        $('#UserCRUD').serializeArray().map(function (x) { data[x.name] = x.value; });
        data["ID"] = parseInt(data["ID"]);
        console.log(data);

        KanbanAPI.Methode("POST", "User/ProcesCRUDUser", data, function (d) {
            console.log(d);
            if (d.result > 0) {
                document.getElementById("UserCRUD").reset();
                Swal.fire(
                    'Success!',
                    d.message,
                    'success'
                );
                $(`#tUser`).DataTable().ajax.reload();
                $('#ModalData').modal('hide');
            } else {
                Swal.fire({
                    icon: 'error',
                    title: d.result,
                    text: d.message,
                });
            }
        });
        event.preventDefault();

    });
</script>